html {
  font-size: 14px;
}

@media (min-width: 414px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 21px;
  }
}

.v-toast {
  padding: 4rem 1rem;
}

@media (min-width: 768px) {
  .v-toast {
    padding: 4.5rem 1rem;
  }
}

.v-toast__item {
  min-height: auto;
}

.v-toast__item .v-toast__text {
  padding: 1em;
}

.v-toast__item--success {
  @apply bg-green-500;
}

.v-toast__item--info {
  @apply bg-blue-500;
}

.v-toast__item--warning {
  @apply bg-yellow-500;
}

.v-toast__item--error {
  @apply bg-red-500;
}

.v-toast__item--default {
  @apply bg-gray-700;
}

.pagination li button:focus {
  position: relative;
  z-index: 9;
}
